
<!-- Projects Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}


      <p>
        <a href= "https://github.com/hLeePage/recipist">The Recipist</a></br>
        <small>A recipe sharing app.</small>
      </p>
      <p>
        <a href= "https://github.com/hLeePage/goals_api_2">Goals</a></br>
        <small>API for a social media app.</small>
      </p>



    </div>
  </div>
</section>

<!-- Projects End -->
