
<!-- Projects Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>
          <a href= "https://recipist.herokuapp.com/">The Recipist</br></a>
          <img src="./img/recipist1.png" width="200px"/>
          <small class="project-small">A recipe sharing app</small>
        </p>
        <p>
          <a href="https:teekit.herokuapp.com/">Ticketee"</a></br>
          <img src="./img/teekit1.png" width="200px"/>
          <small class="project-small">A ticket tracking app in Rails</small>
        </p>
        <!-- <p>
          <a href= "https://goals-api.herokuapp.com/">Goals</a></br>
          <img src="./img/goals1.png" width="200px"/>
          <small class="project-small">API for a social media app</small>
        </p> -->
      </div>
      <div class="col-md-5">
        <p>
          <a href="https://push-pin.herokuapp.com/">Push-Pin</br></a>
          <img src="./img/push-pin1.png" width="200px"/>
          <small class="project-small">A Pinterest clone</small>
        </p>
        <p>
          <a href= "https://github.com/hLeePage/simple_address_book">Address Book</a></br>
          <img src="./img/address_book1.png" width="200px"/>
          <small class="project-small">A command line contact organizer in Ruby</small>
        </p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <a href="https://github.com/hLeePage/tournament-results_2/tree/master/Tournament%20Results"/>Swiss Tournament</br></a>
          <img src="./img/tournament_2.png" width="200px"/>
          <small class="project-small">A command line tournament organizer in Python</small>
        </p>
      </div>
    </div>

    </div>
  </div>
</section>

<!-- Projects End -->
